{% extends 'base.html' %}

{% block title %}
    Review of a book
{% endblock %}

{% block main %}
{% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}} mt-2 mb-5" role="alert">
        {{ msg }} 
    </div>
{% endfor %}
    <div class="row shadow p-5 mb-5 rounded">
        <div class="col-2">
            <img src="{{ book['imageLinks']['thumbnail'] }}" alt="{{ book['title'] }}" class="align-self-end">
        </div>
        <div class="col-10">
            <h1>{{ book['title'] }}</h1>
            <p class="lead">Summary by <a href="{{ url_for('account', username=summary_author) }}">{{ summary_author }}</a>, posted {{ book_user['date'] }}</p>
        <div class="mt-4 mb-4 text-white">
            <p>{{ book_user['summary'] }}</p>
        </div>
        {% if current_user.is_authenticated  %}
        <div class="d-flex">
            <form action="{{ url_for('summary_delete', book_id=book_id) }}" method="POST">
                <button type="submit" class="btn btn-sm btn-danger m-2">Delete summary</button>
            </form>
            {% if is_author %}
            <form action="{{ url_for('update_summary', book_id=book_id) }}" method="get">
                <button type="submit" class="btn btn-sm btn-warning m-2">Update summary</button>
            </form>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}

